<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808926695381-3rgd7ad556m42968b24aghltf32sfkua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808926695381-3rgd7ad556m42968b24aghltf32sfkua</string>
	<key>API_KEY</key>
	<string>AIzaSyA7MGAqSnB7O2wbMzqDRTraqA4dc8oKba4</string>
	<key>GCM_SENDER_ID</key>
	<string>808926695381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-72417</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-72417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808926695381:ios:fb0ecefbad41d5538c375c</string>
</dict>
</plist>